body {
    margin: 0;
    padding: 0;
}

/* Nav */
.navigation {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

nav {
    padding-top: 2%;
    border-bottom: 2px solid #ccc;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.up {
    font-family: Arial, sans-serif;
    font-size: 21px;
    background-color: white;
}

.navigation a {
    text-decoration: none;
    color: #404040;
    margin-left: 8%;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a:hover {
    color: #968653;
}

.social-media {
    position: absolute;
    right: 18%;
    top: 15%;
    transform: translateY(-50%);
}

.icon {
    font-size: 50px;
    color: #949494;
}

/* SECOND */
.full-screen-image {
    position: relative;
    width: 100%;
}

.letra {
    position: absolute;
    top: -120px;
    left: 20%;
    z-index: 1;
}

.centro {
    position: relative;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 100%;
    /* height: 35%; */
    object-fit: cover;
}

.curva {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 35%;
    object-fit: cover;
}

/* THIRD */

.container {
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-6 {
    width: 50%;
    float: left;
}

.image-third img {
    max-width: 100%;
    height: auto;
}

.itinerary {
    font-family: futura-lt-w01-light, futura-lt-w05-light, sans-serif;
    letter-spacing: 0.1em;
    padding-top: 100px;
    text-align: left;
    font-size: 18px;
    color: #404040;
}

.title {
    color: #4b4329;
    font-weight: bold;
    font-size: 2.5em;
    font-family: cormorantgaramond-light, cormorantgaramond, cormorant garamond, serif;
}

.itinerary span {
    display: block;
    font-style: italic;
    font-family: didot-w01-italic, didot-w05-italic, serif;
}

.itinerary span:first-child {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.itinerary span:nth-child(2) {
    font-weight: bold;
}

.itinerary span:nth-child(3) {
    text-decoration: underline;
}

/* Fourth */
.fourth {
    background-color: #e8e2d7;
    padding-block-start: 2%;
    padding-block-end: 5%;
    height: 50%;
}

.columna {
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    align-items: center;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

/* Fifth */
.fifth {
    max-width: 980px;
    margin: 0 auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.columna3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titleH {
    color: #4b4329;
    font-size: 3.5em;
    font-family: cormorantgaramond-light, cormorantgaramond, cormorant garamond, serif;
    text-align: center;
}

.colh {
    position: relative;
    width: 305px;
    height: 306px;
    margin-bottom: 40px;
    text-align: center;
}

.colh span {
    color: #404040;
}

.colh a {
    color: #404040;
}

.colh h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 10px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    color: #404040;
}

.colh img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    max-width: 180%;
    height: auto;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.colh:hover h2 {
    opacity: 0;
}

.colh:hover img {
    opacity: 1;
}

.colh span {
    font-size: 14px;
    line-height: 1.5;
}

/* Seventh */
.seventh {
    background-color: #e8e2d7;
}

.center-text2 {
    text-align: center;
    padding-right: 250px;
    padding-left: 250px;
    padding-block-end: 10%;
}

/* Eighth */
.eighth {
    background-color: #bcbf99;
}

.leaf {
    position: absolute;
    margin-top: -8%;
    transform: scaleX(-1);
}

.leaf2 {
    position: absolute;
    margin-left: 60%;
    margin-top: -28%;
    width: 40%;
}

.center-text3 {
    text-align: center;
    padding-right: 250px;
    padding-left: 250px;
    padding-block-end: 10%;
    letter-spacing: 0.05em;
    font-family: futura-lt-w01-light, futura-lt-w05-light, sans-serif;
    line-height: 35px;
}

.btn {
    border-color: #0c4426;
    background-color: white;
    color: #0c4426;
    padding: 3%;
    font-size: 1.0rem;
    letter-spacing: 0.08em;
    font-family: futura-lt-w01-light, futura-lt-w05-light, sans-serif;
}

.btn:hover {
    background-color: white;
    color: gray;
    border-color: #0c4426;
    font-size: 1.2rem;
}

/* Ninth */
.recom {
    position: absolute;
    margin-top: 10%;
    padding-left: 24%;
    letter-spacing: 0.08em;
    color: white;
    font-size: 3.0rem;
}

.part2 {
    display: flex;
    justify-content: space-between;
    margin-right: 60%;
    font-size: 20px;
    color: #404040;
}

.part3 {
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #404040;
}

.partes {
    width: 45%;
    /* text-decoration: underline; */
}

.detail-r {
    margin-left: 20%;
}

.detail-r span {
    font-size: 2.5rem;
    color: #404040;
}

.leaf3 {
    position: absolute;
    transform: scaleX(-1);
    margin-left: 52%;
    margin-top: -19%;
    transform: rotate(-150deg)
}


/* Tenth */
.fondo-tenth {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    transform: rotate(180deg);
}

.tenth {
    background-color: #bcbf99;
    margin-top: -2%;
    padding: 10%
}

.photo {
    margin-top: -5%;
}

.square {
    background-color: white;
    color: #404040;
    text-align: center;
    position: absolute;
    margin-top: -12%;
    margin-left: 45%;
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    font-family: cormorantgaramond-light, cormorantgaramond, cormorant garamond, serif;
}

/*  Footer */
.footer {
    text-align: center;
    padding: 10px;
}

.footer p {
    font-size: 15px;
    letter-spacing: 0.03em;

}